{% extends "base.html" %}
{% block content %}

  <section class="py-5 bg-light text-center fade-up">
    <div class="container">
      <h1 class="mb-2">Our Pages</h1>
      <p class="text-muted">Explore collections, information &
        inspirations</p>
    </div>
  </section>
  <section class="container py-5">
    <div class="row">

      <div class="col-md-4 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/page1.jpg" class="img-fluid mb-3">
          <h5>About Our Brand</h5>
          <p>Discover our journey, values, and craftsmanship.</p>
          <a href="about" class="btn btn-sm btn-dark">Read More</a>
        </div>
      </div>

      <div class="col-md-4 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/page2.jpg" class="img-fluid mb-3">
          <h5>Shop Collections</h5>
          <p>Premium furniture crafted for modern living.</p>
          <a href="shop" class="btn btn-sm btn-dark">Explore</a>
        </div>
      </div>

      <div class="col-md-4 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/page3.jpg" class="img-fluid mb-3">
          <h5>Our Blog</h5>
          <p>Ideas, tips, and trends for stylish interiors.</p>
          <a href="blog" class="btn btn-sm btn-dark">View Blogs</a>
        </div>
      </div>

      <div class="col-md-4 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/Contact-us-formimg-01-768x218.png" class="img-fluid mb-3">
          <h5>Customer Support</h5>
          <p>We are here to help you anytime.</p>
          <a href="contact" class="btn btn-sm btn-dark">Contact Us</a>
        </div>
      </div>

      <div class="col-md-4 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/page4.jpg" class="img-fluid mb-3">
          <h5>Design Inspiration</h5>
          <p>Get inspired with modern home interiors.</p>
          <a href="blog" class="btn btn-sm btn-dark">Explore</a>
        </div>
      </div>

      <div class="col-md-4 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/confortchair.png" class="img-fluid mb-3">
          <h5>Special Offers</h5>
          <p>Exclusive deals on premium furniture.</p>
          <a href="shop" class="btn btn-sm btn-dark">View Offers</a>
        </div>
      </div>

    </div>
  </section>

  <section class="py-5 text-center bg-warning fade-up">
    <h2>Design Your Dream Space</h2>
    <p>Premium furniture that defines your lifestyle</p>
    <a href="shop" class="btn btn-dark">Shop Now</a>
  </section>

{% endblock %}