{% extends "base.html" %}
{% block content %}

  <section class="container py-5">
    <h2 class="mb-4 text-center">Shop Furniture</h2>

    <div class="row">
      <div class="col-md-3 col-6 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/woodenchair.png" class="img-fluid">
          <h6>Luxury Chair</h6>
          <p>₹12,999</p>
          <a href="product-details" class="btn btn-sm btn-dark">View</a>
        </div>
      </div>

      <div class="col-md-3 col-6 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/confortchair.png" class="img-fluid">
          <h6>Comfort Sofa</h6>
          <p>₹24,999</p>
          <a href="#" class="btn btn-sm btn-dark">View</a>
        </div>
      </div>

      <div class="col-md-3 col-6 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/roundtable.png" class="img-fluid">
          <h6>Wooden Table</h6>
          <p>₹18,999</p>
          <a href="#" class="btn btn-sm btn-dark">View</a>
        </div>
      </div>

      <div class="col-md-3 col-6 mb-4 fade-up">
        <div class="product-card">
          <img src="/static/assets/Images/officechair.png" class="img-fluid">
          <h6>Office Chair</h6>
          <p>₹9,999</p>
          <a href="#" class="btn btn-sm btn-dark">View</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}