{% extends "./admin_base.html" %}
{% block content %}
<body class="bg-light">

<div class="container-fluid">
  <div class="row">

   
    <!-- MAIN CONTENT -->
    <main class="col-md-9 col-lg-10 p-4">

      <div class="card shadow" style="max-width: 700px;">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">Add Product</h4>
        </div>

        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
              <label class="form-label">Product Name</label>
              <input type="text" name="name" class="form-control" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Description</label>
              <textarea name="description" class="form-control" rows="3"></textarea>
            </div>

            <div class="mb-3">
              <label class="form-label">Price</label>
              <input type="number" name="price" class="form-control" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Category</label>
              <select name="category" class="form-select" required>
                <option value="">Select Category</option>
                {% for cat in categories %}
                  <option value="{{ cat.id }}">{{ cat.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Product Image</label>
              <input type="file" name="image" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-success w-100">
              Save Product
            </button>

          </form>
        </div>
      </div>

    </main>

  </div>
</div>

{% endblock %}
